.parcela {
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de la columna */
  padding: 10px;
}

.top{
  display: flex;
  height: 250px;
}

.regi{
  width: 50%; /* Ajusta el ancho al 48% para que quepan en una fila */
  margin: 10px;
  padding: 20px;
}

.sidebaredos{
  width: 50%; /* Ajusta el ancho al 48% para que quepan en una fila */
  margin: 10px;
  padding: 20px;
}


.grafics {
  margin-top: 20px;
  height: 400px;
  width: 60%;
  margin-left: 10px;
  padding: 20px;
}


.grafics, .modal, .sidebaredos, .regi{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

  
  .registrar-parcela {
    flex: 1; /* Ocupa menos espacio */
  }
  
  .parcela h3 {
    padding-bottom: 5px;
    margin: 10px;
  }
    
  .parcela h4 {
    padding-bottom: 5px;
    margin: 10px;
  }
  
  .parcela label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"],
  select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .parcela .form-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-column {
    flex: 1;
    min-width: 200px;
    padding: 10px;
    box-sizing: border-box;
  }

  .parcela button {
    padding: 5px;
    background-color: rgb(240, 255, 255);
    box-shadow: 0 4px 8px rgba(64, 143, 234, 0.704); /* Añadido el desplazamiento y difuminado */
    border: none;
    cursor: pointer;
  }
  .parcela button:hover {
    box-shadow: 0 4px 8px rgba(64, 143, 234, 0.704); /* Mantenido el mismo efecto en hover */
  }

  .parcela  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .parcela li {
    padding: 5px 0;
  }

/* Estilos para el modal */
.modal {
  margin-top: 50px;
  display: flex;
  align-items: center;

}

.modal-content {
  padding: 20px;
  width: 400px;
  position: relative;

}

/* Botón de cierre del modal */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.close-modal:hover {
  color: #ff0000;
}