


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-content{
  display: flex;
  flex-direction: column; /* Cambiamos la dirección de la columna */
  padding: 10px;
}


/* Agrupar main-content y sidebare para alinearlos en una fila */
.top-row {
  display: flex;
  height: 250px;

}

.container {
  width: 50%; /* Ajusta el ancho al 48% para que quepan en una fila */
  margin: 10px;
  padding: 20px;
}


.sidebare {
  width: 50%; /* Ajusta el ancho al 48% para que quepan en una fila */
  margin: 10px;
  padding: 20px;
}

.container-grafics {
  height: 250px;
  width: 45%;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px;
}

.modal {
  position: fixed;
  top: 35%;
  left: 58%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal h3 {
  display: flex;
  margin-left: 40%;
}

.btn-cargar {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  float: right;
}

.btn-cargar:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.estado-financiero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.estado-financiero div {
  padding: 10px;
}


.preview {
  position: fixed;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


/* Añadir box-shadow para dar relieve */
.container, .sidebare, .container-grafics, .preview, .modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}


.btn-cargar:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.btn-iniciar-ejercicio:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}


.top-row button {
  padding: 5px;
  background-color: rgb(255, 255, 255); /* Color del botón activo para administración */
  box-shadow:  0 1px 5px rgb(177, 175, 0, 0.704); /* Añadido el desplazamiento y difuminado */
  border: none;
  cursor: pointer;
}

.top-row button:hover {
  box-shadow:  0 1px 5px rgb(177, 175, 0, 0.704); /* Añadido el desplazamiento y difuminado */
}


.top-row .modal {
  display: flex;
  flex-direction: column; 
  height: 300px; /* Altura fija del modal */
  display: block; /* Modales como bloques */
  margin-top: 10px; /* Margen superior entre modales */
 /* Ancho ajustado con márgenes */
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para los modales */
  padding: 20px; /* Espacio interno */
}
